extends layout

block content
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Distribuciones Continuas
        link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
        link(rel="icon", type="image/png", href="/img/favicon-chart.png")
        link(rel="stylesheet", href="/css/distribuciones-style.css")
    body
        .container
            // Barra de navegación para cambiar de slide
            // Esto con el fin de no construir una vista para cada una, ya que, cada uno de los calculos requiere parametro diferentes
            //por ende no se puede utilizar una vista para todos es por ello se usa una sola y lo unico que se hace es
            // desplzarnos entre slides que cada una cuenta con el form para mandar los datos.
            .slide-nav
                button(data-slide="normal", title="Normal (Gaussiana)") Normal (Gaussiana)
                button(data-slide="exponencial", title="Exponencial") Exponencial
                button(data-slide="uniforme", title="Uniforme") Uniforme
                button(data-slide="t-student", title="T de Student") T de Student
                button(data-slide="chi-cuadrado", title="Chi-cuadrado") Chi-cuadrado
                button(data-slide="f-fisher", title="F de Fisher-Snedecor") F de Fisher-Snedecor

            // Contenedor de las slides
            .slides
                // Slide Normal (Gaussiana)
                .slide#normal
                    h2 Distribución Normal (Gaussiana)
                    p La distribución normal, también conocida como la distribución gaussiana, es una de las distribuciones de probabilidad más importantes en estadística y describe la distribución de muchas variables aleatorias.
                    form(action='/calcular-continua', method='POST')
                        input(type="hidden", name="tipocalculo", value="6")
                        input(type="hidden", name="tipocalculo", value="normal")
                        label(for="parametro_principal") Media (μ):
                        input(type="number", step="0.01", id="parametro_principal", name="parametro_principal", required)
                        p Ingrese la media (μ), que representa el valor promedio de la distribución.
                        label(for="parametro_secundario") Desviación estándar (σ):
                        input(type="number", step="0.01", id="parametro_secundario", name="parametro_secundario", required)
                        p Ingrese la desviación estándar (σ), que representa la dispersión de los datos alrededor de la media.
                        label(for="parametro_terciario") Valor (x):
                        input(type="number", step="0.01", id="parametro_terciario", name="parametro_terciario", required)
                        p Ingrese el valor (x) en el que se quiere conocer la probabilidad.
                        button(type="submit") Calcular

                // Slide Exponencial
                .slide#exponencial
                    h2 Distribución Exponencial
                    p La distribución exponencial describe el tiempo entre eventos en un proceso de Poisson, es decir, un proceso en el que los eventos ocurren de manera continua e independiente a una tasa constante.
                    form(action='/calcular-continua', method='POST')
                        input(type="hidden", name="tipocalculo", value="7")
                        label(for="parametro_principal") Tasa de éxito (λ):
                        input(type="number", step="0.01", id="parametro_principal", name="parametro_principal", required)
                        p Ingrese la tasa de éxito (λ), que representa la tasa a la cual ocurren los eventos.
                        label(for="parametro_terciario") Valor (x):
                        input(type="number", step="0.01", id="parametro_terciario", name="parametro_terciario", required)
                        p Ingrese el valor (x) en el que se quiere conocer la probabilidad.
                        button(type="submit") Calcular

                // Slide Uniforme
                .slide#uniforme
                    h2 Distribución Uniforme
                    p La distribución uniforme describe una variable aleatoria continua que tiene la misma probabilidad de tomar cualquier valor dentro de un intervalo específico.
                    form(action='/calcular-continua', method='POST')
                        input(type="hidden", name="tipocalculo", value="8")
                        label(for="parametro_principal") Límite inferior (a):
                        input(type="number", id="parametro_principal", name="parametro_principal", required)
                        p Ingrese el límite inferior (a), que representa el valor mínimo del intervalo.
                        label(for="parametro_secundario") Límite superior (b):
                        input(type="number", id="parametro_secundario", name="parametro_secundario", required)
                        p Ingrese el límite superior (b), que representa el valor máximo del intervalo.
                        label(for="parametro_terciario") Valor (x):
                        input(type="number", step="0.01", id="parametro_terciario", name="parametro_terciario", required)
                        p Ingrese el valor (x) en el que se quiere conocer la probabilidad.
                        button(type="submit") Calcular

                // Slide T de Student
                .slide#t-student
                    h2 Distribución T de Student
                    p La distribución t de Student se utiliza en la estimación de la media de una población normalmente distribuida cuando el tamaño de la muestra es pequeño y la varianza de la población es desconocida.
                    form(action='/calcular-continua', method='POST')
                        input(type="hidden", name="tipocalculo", value="9")
                        label(for="parametro_principal") Grados de libertad (df):
                        input(type="number", id="parametro_principal", name="parametro_principal", required)
                        p Ingrese los grados de libertad (df), que representan el número de valores que son libres de variar en el cálculo de una estadística.
                        button(type="submit") Calcular

                // Slide Chi-cuadrado
                .slide#chi-cuadrado
                    h2 Distribución Chi-cuadrado
                    p La distribución chi-cuadrado es una distribución continua que se utiliza principalmente en pruebas de hipótesis y construcción de intervalos de confianza.
                    form(action='/calcular-continua', method='POST')
                        input(type="hidden", name="tipocalculo", value="10")
                        label(for="parametro_principal") Grados de libertad (df):
                        input(type="number", id="parametro_principal", name="parametro_principal", required)
                        p Ingrese los grados de libertad (df), que representan el número de valores que son libres de variar en el cálculo de una estadística.
                        button(type="submit") Calcular

                // Slide F de Fisher-Snedecor
                .slide#f-fisher
                    h2 Distribución F de Fisher-Snedecor
                    p La distribución F de Fisher-Snedecor se utiliza en análisis de varianza (ANOVA), en la comparación de dos muestras, y en la prueba de hipótesis sobre la igualdad de dos varianzas.
                    form(action='/calcular-continua', method='POST')
                        input(type="hidden", name="tipocalculo", value="11")
                        label(for="parametro_principal") Grados de libertad del numerador (df1):
                        input(type="number", id="parametro_principal", name="parametro_principal", required)
                        p Ingrese los grados de libertad del numerador (df1), que representan el número de valores que son libres de variar en el cálculo de una estadística para el numerador.
                        label(for="parametro_secundario") Grados de libertad del denominador (df2):
                        input(type="number", id="parametro_secundario", name="parametro_secundario", required)
                        p Ingrese los grados de libertad del denominador (df2), que representan el número de valores que son libres de variar en el cálculo de una estadística para el denominador.
                        button(type="submit") Calcular

        // Script para cambiar de slide
    script.
        document.querySelectorAll('.slide-nav button').forEach(button => {
            button.addEventListener('click', () => {
                document.querySelectorAll('.slide').forEach(slide => {
                    slide.style.display = 'none';
                });
                document.getElementById(button.getAttribute('data-slide')).style.display = 'block';
                // Añadir y quitar la clase active para el botón seleccionado
                document.querySelectorAll('.slide-nav button').forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');
            });
        });
        document.getElementById('normal').style.display = 'block'; // Establecemos la que se mostrara por defecto que es la del inicio, usaremos el orden dado.
        document.querySelector('.slide-nav button[data-slide="normal"]').classList.add('active'); // también se muestra en cual estamos, el mismo que el de arriba se especifica
