extends layout

block content
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Distribuciones Discretas
    link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
    link(rel="icon", type="image/png", href="/img/favicon-chart.png")
    link(rel="stylesheet", href="/css/distribuciones-styles.css")
  body
    .container
      // Barra de navegación para cambiar de slide
      .slide-nav
        button(data-slide="binomial", title="Binomial")
          | Binomial
        button(data-slide="poisson", title="Poisson")
          | Poisson
        button(data-slide="geometrica", title="Geométrica")
          | Geométrica
        button(data-slide="hipergeometrica", title="Hipergeométrica")
          | Hipergeométrica
        button(data-slide="bernoulli", title="Bernoulli")
          | Bernoulli

      // Contenedor de las slides
      .slides
        // Slide Binomial
        .slide#binomial
          h2 Distribución Binomial
          p La distribución binomial describe el número de éxitos en una secuencia de n ensayos independientes con una probabilidad constante p de éxito.
          form(action='/login', method='POST')
            label(for="n") Número de ensayos (n):
            input(type="number", id="n", name="n", required)
            label(for="p") Probabilidad de éxito (p):
            input(type="number", step="0.01", id="p", name="p", required)
            button(type="submit") Calcular
          button.export
            i.ri-file-pdf-line
            | Exportar a PDF

        // Slide Poisson
        .slide#poisson
          h2 Distribución Poisson
          p La distribución de Poisson describe el número de eventos que ocurren en un intervalo de tiempo fijo, dado un promedio constante λ de ocurrencias.
          form
            label(for="lambda") Tasa de éxito (λ):
            input(type="number", step="0.01", id="lambda", name="lambda", required)
            button(type="submit") Calcular
          button.export
            i.ri-file-pdf-line
            | Exportar a PDF

        // Slide Geométrica
        .slide#geometrica
          h2 Distribución Geométrica
          p La distribución geométrica describe el número de ensayos necesarios para obtener el primer éxito en una serie de ensayos independientes con probabilidad constante p de éxito.
          form
            label(for="p") Probabilidad de éxito (p):
            input(type="number", step="0.01", id="p", name="p", required)
            button(type="submit") Calcular
          button.export
            i.ri-file-pdf-line
            | Exportar a PDF

        // Slide Hipergeométrica
        .slide#hipergeometrica
          h2 Distribución Hipergeométrica
          p La distribución hipergeométrica describe el número de éxitos en una muestra de tamaño n extraída sin reemplazo de una población finita de tamaño N que contiene K éxitos.
          form
            label(for="N") Tamaño de la población (N):
            input(type="number", id="N", name="N", required)
            label(for="K") Número de éxitos en la población (K):
            input(type="number", id="K", name="K", required)
            label(for="n") Número de ensayos (n):
            input(type="number", id="n", name="n", required)
            button(type="submit") Calcular
          button.export
            i.ri-file-pdf-line
            | Exportar a PDF

        // Slide Bernoulli
        .slide#bernoulli
          h2 Distribución Bernoulli
          p La distribución de Bernoulli describe el resultado de un solo ensayo que tiene una probabilidad p de éxito y una probabilidad 1-p de fracaso.
          form
            label(for="p") Probabilidad de éxito (p):
            input(type="number", step="0.01", id="p", name="p", required)
            button(type="submit") Calcular
          button.export
            i.ri-file-pdf-line
            | Exportar a PDF
    

    // Script para cambiar de slide
    script.
      document.querySelectorAll('.slide-nav button').forEach(button => {
        button.addEventListener('click', () => {
          document.querySelectorAll('.slide').forEach(slide => {
            slide.style.display = 'none';
          });
          document.getElementById(button.getAttribute('data-slide')).style.display = 'block';
          // Añadir y quitar la clase active para el botón seleccionado
          document.querySelectorAll('.slide-nav button').forEach(btn => btn.classList.remove('active'));
          button.classList.add('active');
        });
      });
      document.getElementById('binomial').style.display = 'block'; // Mostrar la primera slide por defecto
      document.querySelector('.slide-nav button[data-slide="binomial"]').classList.add('active'); // Marcar el primer botón como activo
