extends layout

block content
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Distribuciones Discretas
    link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
    link(rel="icon", type="image/png", href="/img/favicon-chart.png")
    link(rel="stylesheet", href="/css/distribuciones-styles.css")
  body
    .container
      // Barra de navegación para cambiar de slide
      .slide-nav
        button(data-slide="binomial", title="Binomial")
          | Binomial
        button(data-slide="poisson", title="Poisson")
          | Poisson
        button(data-slide="geometrica", title="Geométrica")
          | Geométrica
        button(data-slide="hipergeometrica", title="Hipergeométrica")
          | Hipergeométrica
        button(data-slide="bernoulli", title="Bernoulli")
          | Bernoulli

      // Contenedor de las slides
      .slides
        // Slide Binomial
        .slide#binomial
          h2 Distribución Binomial
          p La distribución binomial describe el número de éxitos en una secuencia de n ensayos independientes con una probabilidad constante p de éxito.
          p Por favor ingresa los valores en los campos correspondientes para obtener el resultado
          p(style="font-size: 1em; color: red;") **Puntos importantes:**
          p(style="font-size: 0.9em; color: red;") - Número de ensayos (n): Debe ser un entero positivo.
          p(style="font-size: 0.9em; color: red;") - Número de éxitos deseados (k): Debe ser un entero positivo, no mayor a (n).
          p(style="font-size: 0.9em; color: red;") - Probabilidad de éxito (p): Debe ser un valor entre 0 y 1.
          form(action='/calcular-operacion', method='POST')
            input(type="hidden", name="tipocalculo", value="1")
            label(for="parametro_principal") Número de ensayos (n):
            p(style="font-size: 0.9em; color: #666;") Donde 𝑛 es el número de ensayos.
            input(type="number", id="parametro_principal", name="parametro_principal", required)
            label(for="parametro_secundario") Número de éxitos deseados (k):
            p(style="font-size: 0.9em; color: #666;") Donde k es el número de éxitos deseados.
            input(type="number", step="0.1", id="parametro_secundario", name="parametro_secundario", required)
            label(for="parametro_terciario") Probabilidad de éxito (p):
            p(style="font-size: 0.9em; color: #666;") Donde 𝑝 es la probabilidad de éxito en un solo ensayo.
            input(type="number", step="0.1", id="parametro_terciario", name="parametro_terciario", required)
            button(type="submit") Calcular


        // Slide Poisson
        .slide#poisson
          h2 Distribución Poisson
          p La distribución de Poisson describe el número de eventos que ocurren en un intervalo de tiempo fijo, dado un promedio constante λ de ocurrencias.
          p Por favor ingresa los valores en los campos correspondientes para obtener el resultado
          p(style="font-size: 1em; color: red;") **Puntos importantes:**
          p(style="font-size: 0.9em; color: red;") - Tasa de éxito (λ): Debe ser un valor positivo.
          p(style="font-size: 0.9em; color: red;") - Número de ocurrencias (k): Debe ser un entero positivo.
          form(action='/calcular-operacion', method='POST')
            input(type="hidden", name="tipocalculo", value="2")
            label(for="parametro_principal") Tasa de éxito (λ):
            input(type="number", step="0.01", id="parametro_principal", name="parametro_principal", required)
            label(for="parametro_secundario") Número de ocurrencias (k):
            input(type="number", step="0.01", id="parametro_secundario", name="parametro_secundario", required)
            button(type="submit") Calcular
          

        // Slide Geométrica
        .slide#geometrica
          h2 Distribución Geométrica
          p La distribución geométrica describe el número de ensayos necesarios para obtener el primer éxito en una serie de ensayos independientes con probabilidad constante p de éxito.
          p A continuación ingresa el valor de p y k:
          p(style="font-size: 1em; color: red;") **Puntos importantes:**
          p(style="font-size: 0.9em; color: red;") - Probabilidad de éxito (p): Debe ser un valor entre 0 y 1.
          p(style="font-size: 0.9em; color: red;") - k es un número entero positivo, ya que no se pueden tener intentos negativos.
          form(action='/calcular-operacion', method='POST')
            input(type="hidden", name="tipocalculo", value="3")
            label(for="parametro_principal") Probabilidad de éxito (p):
            p(style="font-size: 0.9em; color: #666;") Donde (p) es la probabilidad de éxito, es decir un valor entre 0 y 1 que representa la probabilidad de obtener un éxito en un solo ensayo.
            input(type="number", step="0.01", id="parametro_principal", name="parametro_principal", required)
            label(for="parametro_secundario") Número de ensayos (k):
            p(style="font-size: 0.9em; color: #666;") Donde (k) es la variable aleatoria que representa el número de ensayos necesarios para obtener el primer éxito.
            input(type="number", step="0.01", id="parametro_secundario", name="parametro_secundario", required)
            button(type="submit") Calcular


        // Slide Hipergeométrica
        .slide#hipergeometrica
          h2 Distribución Hipergeométrica
          p La distribución hipergeométrica describe el número de éxitos en una muestra de tamaño n extraída sin reemplazo de una población finita de tamaño N que contiene K éxitos.
          p(style="font-size: 1em; color: red;") **Puntos importantes:**
          p(style="font-size: 0.9em; color: red;") - Tamaño de la población (N): Debe ser un entero positivo mayor que 0.
          p(style="font-size: 0.9em; color: red;") - Número de éxitos en la población (K): Debe ser un entero positivo menor o igual al tamaño de la población.
          p(style="font-size: 0.9em; color: red;") - Tamaño de la muestra (n): Debe ser un entero positivo menor o igual al tamaño de la población.
          p(style="font-size: 0.9em; color: red;") - Número de éxitos en la muestra (k): Debe ser un entero positivo menor o igual al tamaño de la muestra.
          form(action='/calcular-operacion', method='POST')
            input(type="hidden", name="tipocalculo", value="4")
            label(for="parametro_principal") Tamaño de la población (N):
            p(style="font-size: 0.9em; color: #666;") Ingrese el tamaño total de la población de la cual se extraerá la muestra. Debe ser un número entero mayor que 0.
            input(type="number", id="parametro_principal", name="parametro_principal", min="1", required)
            label(for="parametro_secundario") Número de éxitos en la población (K):
            p(style="font-size: 0.9em; color: #666;") Ingrese el número total de éxitos en la población. Debe ser un número entero mayor que 0 y menor o igual al tamaño de la población.
            input(type="number", id="parametro_secundario", name="parametro_secundario", min="1", required)
            label(for="parametro_terciario") Tamaño de la muestra (n):
            p(style="font-size: 0.9em; color: #666;") Ingrese el tamaño de la muestra que se va a extraer de la población. Debe ser un número entero mayor que 0 y menor o igual al tamaño de la población.
            input(type="number", id="parametro_terciario", name="parametro_terciario", min="1", required)
            label(for="parametro_cuaternario") Número de éxitos en la muestra (k):
            p(style="font-size: 0.9em; color: #666;") Ingrese el número de éxitos deseados en la muestra. Debe ser un número entero mayor que 0 y menor o igual al tamaño de la muestra.
            input(type="number", id="parametro_cuaternario", name="parametro_cuaternario", min="1", required)
            button(type="submit") Calcular
          

        // Slide Bernoulli
        .slide#bernoulli
          h2 Distribución Bernoulli
          p La distribución de Bernoulli describe un experimento que solo tiene dos resultados posibles: éxito (con probabilidad p) o fracaso (con probabilidad 1 - p).
          p A continuación ingresa el valor de p y x:
          p(style="font-size: 1em; color: red;") **Puntos importantes:**
          p(style="font-size: 0.9em; color: red;") - Probabilidad de éxito (p): Debe ser un valor entre 0 y 1.
          p(style="font-size: 0.9em; color: red;") - x puede tomar dos valores posibles:
          p(style="font-size: 0.9em; color: red;") - x=1: Representa el evento de éxito.
          p(style="font-size: 0.9em; color: red;") - x=0: Representa el evento de fracaso. 
          form(action='/calcular-operacion', method='POST')
            input(type="hidden", name="tipocalculo", value="5")
            label(for="parametro_principal") Probabilidad de éxito (p):
            p(style="font-size: 0.9em; color: #666;") Donde 𝑝 es la probabilidad de éxito en un solo ensayo.
            input(type="number", step="0.01", id="parametro_principal", name="parametro_principal", required)
            label(for="parametro_secundario") Variable aleatoria (x):
            p(style="font-size: 0.9em; color: #666;") Donde x es la variable aleatoria que toma valores binarios que indican el resultado de un único ensayo de Bernoulli.
            input(type="number", step="0.01", max="1",id="parametro_secundario", name="parametro_secundario", required)
            button(type="submit") Calcular

    // Script para cambiar de slide
    script.
      document.querySelectorAll('.slide-nav button').forEach(button => {
        button.addEventListener('click', () => {
          document.querySelectorAll('.slide').forEach(slide => {
            slide.style.display = 'none';
          });
          document.getElementById(button.getAttribute('data-slide')).style.display = 'block';
          // Añadir y quitar la clase active para el botón seleccionado
          document.querySelectorAll('.slide-nav button').forEach(btn => btn.classList.remove('active'));
          button.classList.add('active');
        });
      });
      document.getElementById('binomial').style.display = 'block'; // Mostrar la primera slide por defecto en la vista para evitar que se recargue
      document.querySelector('.slide-nav button[data-slide="binomial"]').classList.add('active'); // Marcar el primer botón como activado que es la vista mencionada anteriormente
