doctype html
html(lang="en")
    head
        title Login
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/64d58efce2.js", crossorigin="anonymous")
        link(rel="icon", type="image/png", href="/img/favicon-chart.png")
        link(rel="stylesheet", href="css/forms.css")
    body.login
        .container
            .info
                h1 DistribuMaster
                span Hecho con
                i.fa.fa-heart
                |  by
                a(href="https://github.com/Eliam2102") Eliam Cauich
            .form
                .thumbnail
                    img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg')
                form(action='/login' method='POST' class='login-form')
                input(type='text', name='username', id='username', placeholder='Usuario (nombre)', required)
                input(type='password' name='password' id='password' placeholder='Contraseña', required)
                button(type='button' id='mostrarContrasena')
                    i.material-symbols-rounded visibility_off
                button(type='submit') login
                p.message ¿Aún no tienes cuenta?
                    a(href='/register') Regístrate
    script.
      const passwordInput = document.getElementById('password');
      const mostrarContrasenaBtn = document.getElementById('mostrarContrasena');

      mostrarContrasenaBtn.addEventListener('click', () => {
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          mostrarContrasenaBtn.innerHTML = '<i class="material-symbols-rounded">visibility</i>';
        } else {
          passwordInput.type = 'password';
          mostrarContrasenaBtn.innerHTML = '<i class="material-symbols-rounded">visibility_off</i>';
        }
      });

