extends layout

block content
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Probabilidad de Intervalo
        link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
        link(rel="icon", type="image/png", href="/img/favicon-chart.png")
        link(rel="stylesheet", href="/css/distribuciones-styles.css")
    body
        .container
            .slide-nav
                h1 Calcula la Probabilidad de Intervalo
            .slides
                .slide#intervalo
                    h2 Probabilidad de Intervalo
                    p Calcular la probabilidad de que una variable aleatoria esté dentro de un intervalo específico.
                    form#intervalo-form
                        label(for="distribucion") Tipo de Distribución:
                        select#distribucion(name="distribucion" required)
                            option(value="") Selecciona una distribución
                            option(value="binomial") Binomial
                            option(value="poisson") Poisson
                            option(value="geometrica") Geométrica
                            option(value="hipergeometrica") Hipergeométrica
                            option(value="bernoulli") Bernoulli
                            option(value="normal") Normal
                            option(value="exponencial") Exponencial
                            option(value="uniforme") Uniforme
                            option(value="t-student") T-Student
                            option(value="chi-cuadrado") Chi-Cuadrado
                            option(value="fisher-snedecor") Fisher-Snedecor
                        .dynamic-fields
                        button(type="submit") Calcular
                    button.export
                        i.ri-file-pdf-line
                        | Exportar a PDF

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script.
            $(document).ready(function() {
                $('#distribucion').change(function() {
                    var distribucion = $(this).val();
                    var fields = '';
                    
                    if (distribucion === 'binomial') {
                        fields += '<label for="n">Número de ensayos (n):</label>';
                        fields += '<input type="number" id="n" name="n" required>';
                        fields += '<label for="p">Probabilidad de éxito (p):</label>';
                        fields += '<input type="number" id="p" name="p" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'poisson') {
                        fields += '<label for="lambda">Lambda (λ):</label>';
                        fields += '<input type="number" id="lambda" name="lambda" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'geometrica') {
                        fields += '<label for="p">Probabilidad de éxito (p):</label>';
                        fields += '<input type="number" id="p" name="p" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'hipergeometrica') {
                        fields += '<label for="N">Tamaño de la población (N):</label>';
                        fields += '<input type="number" id="N" name="N" required>';
                        fields += '<label for="K">Número de éxitos en la población (K):</label>';
                        fields += '<input type="number" id="K" name="K" required>';
                        fields += '<label for="n">Número de ensayos (n):</label>';
                        fields += '<input type="number" id="n" name="n" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'bernoulli') {
                        fields += '<label for="p">Probabilidad de éxito (p):</label>';
                        fields += '<input type="number" id="p" name="p" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'normal') {
                        fields += '<label for="media">Media:</label>';
                        fields += '<input type="number" id="media" name="media" required>';
                        fields += '<label for="desviacion">Desviación Estándar:</label>';
                        fields += '<input type="number" id="desviacion" name="desviacion" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'exponencial') {
                        fields += '<label for="lambda">Lambda (λ):</label>';
                        fields += '<input type="number" id="lambda" name="lambda" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'uniforme') {
                        fields += '<label for="minimo">Mínimo:</label>';
                        fields += '<input type="number" id="minimo" name="minimo" required>';
                        fields += '<label for="maximo">Máximo:</label>';
                        fields += '<input type="number" id="maximo" name="maximo" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 't-student') {
                        fields += '<label for="grados-libertad">Grados de Libertad:</label>';
                        fields += '<input type="number" id="grados-libertad" name="grados-libertad" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'chi-cuadrado') {
                        fields += '<label for="grados-libertad">Grados de Libertad:</label>';
                        fields += '<input type="number" id="grados-libertad" name="grados-libertad" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    } else if (distribucion === 'fisher-snedecor') {
                        fields += '<label for="grados-libertad1">Grados de Libertad 1:</label>';
                        fields += '<input type="number" id="grados-libertad1" name="grados-libertad1" required>';
                        fields += '<label for="grados-libertad2">Grados de Libertad 2:</label>';
                        fields += '<input type="number" id="grados-libertad2" name="grados-libertad2" required>';
                        fields += '<label for="x1">Límite inferior (x1):</label>';
                        fields += '<input type="number" id="x1" name="x1" required>';
                        fields += '<label for="x2">Límite superior (x2):</label>';
                        fields += '<input type="number" id="x2" name="x2" required>';
                    }

                    $('.dynamic-fields').html(fields);
                });
            });
