extends layout

block content
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Probabilidad Acumulada
        link(href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap", rel="stylesheet")
        link(rel="icon", type="image/png", href="/img/favicon-chart.png")
        link(rel="stylesheet", href="/css/probs.css")
    bdoy
        .container-acum
            .header
                h1 Calcula la Probabilidad Acumulada
            h2 Probabilidad Acumulada
            p Calcular la probabilidad de que una variable aleatoria sea menor o igual a un valor dado.
            form#acumulada-form
                label(for="distribucion") Tipo de Distribución:
                select#distribucion(name="distribucion" required)
                    option(value="") Selecciona una distribución
                    option(value="1") Binomial
                    option(value="2") Poisson
                    option(value="3") Geométrica
                    option(value="4") Hipergeométrica
                    option(value="5") Bernoulli
                    option(value="6") Normal
                    option(value="7") Exponencial
                    option(value="8") Uniforme
                    option(value="9") T-Student
                    option(value="10") Chi-Cuadrado
                    option(value="11") Fisher-Snedecor
                .dynamic-fields
                button(type="submit") Calcular
            .export-buttons

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script.
        $(document).ready(function() {
            $('#distribucion').change(function() {
                var distribucion = $(this).val();
                var fields = '';
                
                if (distribucion === '1') {
                    fields += '<label for="parametro_principal">Número de ensayos (n):</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Probabilidad de éxito (p):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                    fields += '<label for="parametro_terciario">Número de éxitos (x):</label>';
                    fields += '<input type="number" id="parametro_terciario" name="parametro_terciario" required>';
                } else if (distribucion === '2') {
                    fields += '<label for="parametro_principal">Lambda (λ):</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Número de eventos (x):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '3') {
                    fields += '<label for="parametro_principal">Probabilidad de éxito (p):</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Número de ensayos hasta el primer éxito (x):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '4') {
                    fields += '<label for="parametro_principal">Tamaño de la población (N):</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Número de éxitos en la población (K):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                    fields += '<label for="parametro_terciario">Número de ensayos (n):</label>';
                    fields += '<input type="number" id="parametro_terciario" name="parametro_terciario" required>';
                    fields += '<label for="x">Número de éxitos en los ensayos (x):</label>';
                    fields += '<input type="number" id="x" name="x" required>';
                } else if (distribucion === '5') {
                    fields += '<label for="parametro_principal">Probabilidad de éxito (p):</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Valor (x):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '6') {
                    fields += '<label for="parametro_principal">Media:</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Desviación Estándar:</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '7') {
                    fields += '<label for="parametro_principal">Lambda (λ):</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Valor (x):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '8') {
                    fields += '<label for="parametro_principal">Mínimo:</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Máximo:</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                    fields += '<label for="parametro_terciario">Valor (x):</label>';
                    fields += '<input type="number" id="parametro_terciario" name="parametro_terciario" required>';
                } else if (distribucion === '9') {
                    fields += '<label for="parametro_principal">Grados de Libertad:</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Valor (x):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '10') {
                    fields += '<label for="parametro_principal">Grados de Libertad:</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Valor (x):</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                } else if (distribucion === '11') {
                    fields += '<label for="parametro_principal">Grados de Libertad 1:</label>';
                    fields += '<input type="number" id="parametro_principal" name="parametro_principal" required>';
                    fields += '<label for="parametro_secundario">Grados de Libertad 2:</label>';
                    fields += '<input type="number" id="parametro_secundario" name="parametro_secundario" required>';
                    fields += '<label for="parametro_terciario">Valor (x):</label>';
                    fields += '<input type="number" id="parametro_terciario" name="parametro_terciario" required>';
                }

                $('.dynamic-fields').html(fields);
            });
        });
