doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/64d58efce2.js", crossorigin="anonymous")
        link(rel="stylesheet", href="css/forms.css")
        link(rel="icon", type="image/png", href="/img/favicon-chart.png")
        title Regitstro
    body.register
        .container
            .info
                h1 DistribuMaster
                span Hecho con
                i.fa.fa-hearts
                |  by
                a(href="https://github.com/Eliam2102") Eliam Cauich
            .form
                .thumbnail
                    img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg')
                form(action='/register' method='POST' class='register-form')
                input(type='text', name='nombre', id='nombre', placeholder='Nombre', required)
                input(type='email', name='email', id='email', placeholder='Correo electrónico', required)
                input(type='password', name='password', id='password', placeholder='Contraseña',required)
                input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirmar contraseña', required)
                button(type='submit' ) Registrarse
                p.message ¿Ya tienes una cuenta?
                    a(href='/login') Iniciar sesión